@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #1142d4;
  --color-primary-text: #4B5E9A;
  --color-background-light: #fdfcf8;
  --color-background-dark: #101522;
  --color-accent-gold: #d4af37;
  --color-accent-red: #8b0000;
}
*{
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
}

/* Sans-serif font for data, labels, and descriptions */
.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}